<html>
    {% include "html/head.html.twig" %}
{% include "html/menu.html.twig" %}
{{ form_start(choice_form) }}
{{ form_widget(choice_form) }}
<button type="submit" class="button">Filtrovat!</button>
{{ form_end(choice_form) }}
{% if subject is defined %}
    {% if subject != "reset" %}
        {% if date1.timestamp is defined and date2.timestamp is defined %}
            <p> Vše z jedné kategorie mezi daty {{date1.format('d.m.Y')}} -  {{date2.format('d.m.Y')}}</p>
            {%  set array = materials.getSubjectBetweenDates(subject, date1.timestamp, date2.timestamp) %} 
        {% else %} 
            <p> Příspěvky z jedné kategorie </p>
            {%  set array = materials.getSubject(subject) %} 
        {% endif %} 
    {% endif %}
    {% if subject == "reset" and date1.timestamp is not defined and date2.timestamp is not defined %}
        <p> Všechny příspěvky </p>
        {%  set array = materials.getAll() %}
    {% endif %}
    {% if subject == "reset" and date1.timestamp is defined and date2.timestamp is defined %}
        <p> Všechny příspěvky mezi daty {{date1.format('d.m.Y')}} -  {{date2.format('d.m.Y')}}</p>
        {% set array = materials.getEverythingBetweenDates(date1.timestamp, date2.timestamp) %}
    {% endif %}
    {% for value in array %}
        Předmět : {{ value.getSchoolSubject() }}<br />
        Obsah: <a href="material/{{value.getFilename()}}"/> Zde </a>  <br>
        Autor: {{ value.getUser().getUsername() }}<br />
        Datum: {{ value.getDate() }} <br />
        {% if (value.getUser().getId() == id ) %}
            <a href="edit_material/{{ value.getId() }}"> Upravit </a>
            <br />
        {% endif %}
        <br />
    {% endfor %} 
{% else %}
    {% for value in materials.getAll() %}
        Předmět : {{ value.getSchoolSubject() }}<br />
        Obsah:<a href="material/{{value.getFilename()}}"/> Zde </a> <br />
        Autor: <a href="profile/{{ value.getUser().getUsername() }}"> {{ value.getUser().getUsername() }}</a><br />
        Datum: {{ value.getDate() }} <br />
        {% if (value.getUser().getId() == id ) %}
            <a href="edit_material/{{ value.getId() }}"> Upravit </a>
            <br />
        {% endif %}
        <br />
    {% endfor %} 
{% endif %}


</html>