<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Document </title>
   <link href="{{ asset('css/homepage.css') }}" rel="stylesheet"/>
   <link href="{{ asset('css/profile.css') }}" rel="stylesheet"/>
   <link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
   <link href="{{ asset('css/aside.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/typhography.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/all_materials.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/add_material.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/settings.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/edit_material.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/login.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/contact.css') }}" rel="stylesheet"> </link>
   <link href="{{ asset('css/welcome.css') }}" rel="stylesheet"> </link>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js">
   </script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>