<!DOCTYPE html>
<html lang="en">
	{% include "html/head.html.twig" %}
	<body class="">
		{% include "html/menu.html.twig" %}
		<main class="--with_aside">
			{% include "html/aside.html.twig" %}
			<div class="container">
				<div class="container_profile-card">
          <div class="container_profile-card_header"> 
					<h1 id="profile_name">{{ profile_name }}</h1>
          <a href="/settings"> <button class=""> Nastavení </button> </a>
        </div>
        <div class="container_materials">
					<h1>
						Příspěvky uživatele
					</h1>
					{% for value in materials %}
          <div class="container_materials_single-material">
						Předmět :
						{{ value.getSchoolSubject() }}<br/>
						Obsah:<a href="material/{{value.getFilename()}}"/>
						Zde
					</a>
					<br/>
					Datum:
					{{ value.getDate() }}
					<br/>
					{% if (value.getUser().getId() == id ) %}
						<a href="edit_material/{{ value.getId() }}">
							Upravit
						</a>
						<br/>
					{% endif %}
					<br/>
          </div>
				{% endfor %}
          </div>
			</div>
		</div>
	</body>
</html></main></body></html>
