<!DOCTYPE html>
<html lang="en">
	{% include "html/head.html.twig" %}
	<body class="">
		{% include "html/menu.html.twig" %}
		<main class="--with_aside">
			{% include "html/aside.html.twig" %}
			<div class="container">
				<div class="container_profile-card">
          <div class="container_profile-card_header"> 
					<h1 id="profile_name">{{ profile_name }}</h1>
          <a href="/settings"> <button class=""> Nastavení </button> </a>
        </div>
        <div class="container_profile_materials">
			<p> 
			{{profile_desc}}
		</p>
			{% if materials %}
					<h2>
						Příspěvky uživatele
					</h2>
			{% endif %}
					{% for value in materials %}
          <div class="container_profile_materials_single-material">
		  	<div class="single-material_content">
						<p>Předmět :
						{{ value.getSchoolSubject() }}</p>
						<p>Datum:
					{{ value.getDate() }}
					</p>
						<p>Obsah:<a class="material-source-link" href="material/{{value.getFilename()}}"/>
						Zde
					</a></p>
					
					{% if (value.getUser().getId() == id ) %}
						<p><a class="material-source-link" href="/edit_material/{{ value.getId() }}">
							Upravit
						</a>
						</p>
					{% endif %}
					</div>
          </div>
				{% endfor %}
          </div>
			</div>
		</div>
	</body>
</html></main></body>{% include "html/footer.html.twig" %}</html>
