<html>
    {% include "html/head.html.twig" %}
    <body> 
{% include "html/menu.html.twig" %}
<main class="--with_aside">
    {% include "html/aside.html.twig" %}
    <div class="container">
    <div class="container_materials">
        <h2>
            Příspěvky z předmětu {{subject_name}}
        </h2>
        {% for value in materials %}
        <div class="container_materials_single-material">
							<div class="single-material_header" id="author">
								<h2 class="author_name">
								<a href="profile/{{ value.getUser().getUsername() }}"> {{ value.getUser().getUsername() }}</a>
									
								</h2>
							</div>
							<div class="single-material_content">
								<p>Předmět :
								{{ value.getSchoolSubject() }}</p>
								<p>Datum:
								{{ value.getDate() }}</p>
								
								<p>Obsah:<a class="material-source-link" href="materials/{{value.getFilename()}}"/>
								Zde
							</a></p>
							

							{% if (value.getUser().getId() == id ) %}
								<br><p><a class="material-source-link" href="edit_material/{{ value.getId() }}">
									Upravit
								</a></p>
							{% endif %}
                    
						</div>
					</div>
        {% endfor %}
</div> 
</div>   
</main>
</body>
{% include "html/footer.html.twig" %}
</html>